$yellow: #CFF09E;
$green: #3B8686;

$light-blue: #85dce8; // old

body {
  font-family: "Tahoma", sans-serif;
  min-height: 100vh;
  background-color: $yellow;
//   color: #031634;
}

.hide {
  display: none;
}
.wrap-header
{
  max-width: 924px;
  margin: 0 auto;
}

.wrap-main {
  max-width: 824px;
  margin: 0 auto;
  padding: 2%;
}


.site-header {
  background-color: $green;
  font-weight: bold;
  img {
    border-radius: 50%;
  }
}


.site-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0;
  line-height: 1.7;
  text-align: left;
}

.nav-item {
  text-align: right;
}

.form-inline .form-control.create {
      flex: 2;
}

.form-group .form-control.username{
      flex: 2;
}


.btn-join {
  color: #fff;
  background-color: $green;
  border-color: $green;
  float: right;
}
// .btn-join:hover {
//   background-color: $green;
// }
.cards {
  max-width: 824px;
  margin: 0 auto;
}


.card-b {
    flex: 1 1 auto;
    padding: 0.5rem
}



.message-field  {
background: #fff; 
border: 1px solid #C1C1C1; 
overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
height: 550px;
border-radius: 5px;
}

.message-group {
  width: 100%; 
}

// .msg-body {
//   padding-bottom: 20px;
// }


// .chat li .msg-body:before {
//   position: absolute;
//   top: 10px;
//   left: -8px;
//   display: inline-block;
//   background: #fff;
//   width: 16px;
//   height: 16px;
//   border-top: 1px solid #f1f5fc;
//   border-left: 1px solid #f1f5fc;
//   content: '';
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
// }

.chat li {
  margin: 15px 0;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 8px;
}


/* Solid Button */
.back {
    margin: 0 auto;
    color: #1c5169;
    background-color: #86dbff;
    -webkit-transition: .3s all ease-in;
    transition: .3s all ease-in;
    border: 2px solid transparent;
}
 
.back:hover, .back:focus {
    -webkit-box-shadow: 0px 0px 20px 15px #3cc6d8;
    box-shadow: 0px 0px 30px 20px #3cc6d8;
    background-color: #d7f3ff;
}

.chat-btn {
    text-align: center;
}

// @media (max-width: 995px) {
//   .nav-item,
//   .site-title,
//   .site-header a {
//     text-align: center; }
//  }