{% extends "layout.html" %} {% block body %}
  <script>
    localStorage.setItem("username", "{{username}}") 
    localStorage.setItem("lastChat", "{{chatname}}") 
    console.log(localStorage)
  </script>  

<script id="result" type="text/template">
  {% raw %}
  <li data-id = {{ values.message_id }} class="chat-body">   
        <div class="header">
            {{#if values.delete}}
    
            <button type="button" class="close ml-2" aria-label="Close">
            <span class="close" aria-hidden="true">&times;</span>
            </button>
    
            {{/if}}
              <strong>{{ values.username }}</strong>
              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ values.time }}</small>
        </div>
            <p>
              {{ values.message }}
            </p>

  </li>
    {% endraw %}
</script>
<div class = "chat-btn mb-2">
    <span class="chat-title"> {{ chatname }} </span>
    <a href="{{ url_for('main', username = session['username'])  }}" class="back btn btn-success pull-right" >Exit</a> 
</div>
<div class = "message-group">
  <div class= "message-field mb-2">
    <ul class="chat">
        <h4 class="no-msg text-center hide">no messages yet!</h4>      
    </ul>
  </div>    
  
    <form class="form-inline" id="message" method="POST">
      <textarea
        type="text"
        class="create form-control mr-2"
        name="message"
        placeholder="Enter message here"
        aria-label="message"
        required="required"
        autocomplete="off"
        rows="2"
      ></textarea>
      <button class="btn btn-outline-success send" type="submit">
        Send
      </button>
    </form>
</div>

{% endblock %}
