{% extends "layout.html" %} {% block body %}
  <script>
    user="{{username}}"
    localStorage.setItem("username", user) 
    
  </script>  

<script id="result" type="text/template">
  {% raw %}
  <li>   
    <div class="chat-body">
            <div class="header">
              <strong>{{ values.username }}</strong>
              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ values.time }}</small>
            </div>
            <p>
              {{ values.message }}
            </p>
      </div>    
  </li>
    {% endraw %}
</script>
<div class = "chat-btn"><button class ="back"> <a href="{{ url_for('main', username = session['username'])  }}" class="back" >Leave this chat and go to chat list</a> </button></div>
<div class = "message-group">
  <div class= "message-field mb-2">
    <ul class="chat">
      {% if messages %} {% for message in messages %}
      <li>   
        <div class="msg-body">
              <div class="header">
                <strong>{{message["username"]}}</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>{{message["time"]}}</small>
              </div>
              <p>
                {{message["message"]}}
              </p>
        </div>
      </li>
      {% endfor %} 
      {% endif %}
      <h4 class="no-msg text-center hide">no messages yet!</h4>
      
    </ul>
  </div>    
  
    <form class="form-inline" id="message" method="POST">
      <textarea
        type="text"
        class="create form-control mr-2"
        name="message"
        placeholder="Enter message here"
        aria-label="message"
        required="required"
        autocomplete="off"
        rows="2"
      ></textarea>
      <button class="btn btn-outline-success send" type="submit">
        Send
      </button>
    </form>
</div>

{% endblock %}
