{% extends "layout.html" %} {% block body %}

<h4 class="text-center mb-3">Create your own chat</h4>
    <form class="form-inline mb-5" id="create" method="POST">
        <input
        type="text"
        class="create form-control mr-2 m-sm-2"
        name="chatname"
        placeholder="Enter chat name"
        aria-label="create"
        required="required"
        autocomplete="off"
        />
        <button class="btn btn-join" type="submit">
            Create
        </button>
    </form>    
    <h4 class="text-center mb-3">...or choose from existing:</h4>
    
  {% for chat in chat_list %}
  <div class="card mb-3">
      <div class="p-1">
          <h4><strong>{{chat["chatname"]}}</strong></h4>
          creator: {{chat["username"]}}
          <a
        href="{{ url_for('chat', chatname=chat['chatname'] )}}"
        class="btn btn-join pull-right"
        >Join</a
      >
    </div>
  </div>

  {% else %}
  <h4 class="text-center">no chats found</h4>
  {% endfor %}
</div>
{% endblock %}
